/* Botones */
.btn{
    border-radius: 10px 0px 10px 0px !important;
}

/* Formularios */
.form-control{
    border-radius: 50px !important;
}
/* Box */
.box, .login-box-body{
    border-radius: 20px 20px 20px 20px !important;
}
/* Fondos */
.fondo-hiline{
    background: #00d9e5; /* Old Browsers */
    background: -webkit-linear-gradient(top,#00d9e5,#cfca34);/*Safari 5.1-6*/
    background: -o-linear-gradient(top,#00d9e5,#cfca34); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#00d9e5,#cfca34); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #00d9e5, #cfca34) no-repeat center center fixed;/*Standard*/

}
/* Label */
.list-hiline li{
    margin: 5px 0 !important;
}
/* Charts */
.graficas{
    height: 100%;
    width: 100%;
    margin: auto;
}
@media (min-width: 992px) {
    .graficas{
        height: 50%;
        width: 50%;
        margin: auto;
    }
}
/*Cajas de texto*/
.info-box-icon {
    height: 100% !important;
}
/*Banderas*/
.banderas img {
    width: 30px;
}